In [16]:
import requests as req
import time
import openpyxl
import warnings
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv('..\Proyecto-Final\src\estadisticas-jugadoras-competicion-liga-.csv')

In [18]:
df.columns

Index(['SOCCER NUMBER', 'NAME', 'TEAM', 'POSITION', 'MATCHES PLAYED', 'GOALS',
       'ASSISTS', 'YELLOW CARDS', 'RED CARDS', 'CYCLE RC', 'MINUTES PLAYED',
       'NATIONALITY', 'AGE', 'HEIGHT', 'WEIGHT'],
      dtype='object')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 370 entries, 0 to 369
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SOCCER NUMBER   370 non-null    int64
 1   NAME            370 non-null    object
 2   TEAM            370 non-null    object
 3   POSITION        370 non-null    object
 4   MATCHES PLAYED  370 non-null    int64
 5   GOALS           370 non-null    int64
 6   ASSISTS         370 non-null    int64
 7   YELLOW CARDS    370 non-null    int64
 8   RED CARDS       370 non-null    int64
 9   CYCLE RC        370 non-null    int64
 10  MINUTES PLAYED  370 non-null    int64
 11  NATIONALITY     370 non-null    object
 12  AGE             370 non-null    int64
 13  HEIGHT          370 non-null    float64
 14  WEIGHT          370 non-null    int64
dtypes: float64(1), int64(10), object(4)
memory usage: 43.5+ KB

In [20]:
df.head(5)

,SOCCER NUMBER,NAME,TEAM,POSITION,MATCHES PLAYED,GOALS,ASSISTS,YELLOW CARDS,RED CARDS,CYCLE RC,MINUTES PLAYED,NATIONALITY,AGE,HEIGHT,WEIGHT
0,18,Elena Julve Pérez,FC Levante Las Planas,DEL,20,1,0,1,0,4,1689,Spain,22,1.54,44
1,19,Marina Martí Serna,Alhama CF El Pozo,DEL,20,5,1,1,0,4,1665,Spain,26,1.61,54
2,11,Alba Redondo Ferrer,Levante UD,DEL,19,19,5,0,0,5,1639,Spain,26,1.69,63
3,9,Sheila Guijarro Gómez,Villarreal CF,DEL,19,8,0,5,0,5,1612,Spain,26,1.71,68
4,11,María Florencia Bonsegund...,Madrid CFF,DEL,20,6,1,1,0,4,1578,Argentina,29,1.68,59

In [21]:
for col in df.columns:
    print(col)

SOCCER NUMBER
NAME
TEAM
POSITION
MATCHES PLAYED
GOALS
ASSISTS
YELLOW CARDS
RED CARDS
CYCLE RC
MINUTES PLAYED
NATIONALITY
AGE
HEIGHT
WEIGHT

In [22]:
df.shape[0]

370

In [23]:
df.value_counts()

SOCCER NUMBER  NAME                            TEAM                 POSITION  MATCHES PLAYED  GOALS  ASSISTS  YELLOW CARDS  RED CARDS  CYCLE RC  MINUTES PLAYED  NATIONALITY     AGE  HEIGHT  WEIGHT
1              Adriana Nanclares Romero        Real Sociedad        POR       11              0      0        0             0          5         990             Spain           20   1.70    52        1
17             Fatima Alexandra Figueira P...  Deportivo Alavés     MED       13              0      0        4             0          1         809             Portugal        27   1.70    63        1
               Salma Paralluelo Ayingono       FC Barcelona         DEL       12              8      2        0             0          5         535             Spain           19   1.74    62        1
               Rosa Márquez Baena              Real Betis           MED       7               0      1        1             0          4         535             Spain           22   1.58    46        1
               Nerea Nevado Gómez              Athletic Club        DEF       20              0      2        1             0          4         1716            Spain           21   1.60    55        1
                                                                                                                                                                                                       ..
9              Gabriela Nunes da Silva         Madrid CFF           DEL       20              7      4        3             0          2         1012            Brasil          25   1.69    56        1
               Asun Martínez Salinas           Valencia Féminas CF  DEL       20              4      3        0             0          5         1443            Spain           21   1.58    55        1
               Andrea Staskova                 Atlético de Madrid   DEL       18              2      1        0             0          5         373             Czech Republic  22   1.80    65        1
               Ana Franco de la Vega           Sevilla FC           DEL       13              5      1        0             0          5         506             Spain           23   1.70    56        1
36             Andrea Tarazona Brisa           Levante UD           POR       11              0      0        0             0          5         985             Spain           18   1.65    56        1
Length: 370, dtype: int64

In [24]:
df.info

<bound method DataFrame.info of      SOCCER NUMBER                          NAME                   TEAM  \
0               18             Elena Julve Pérez  FC Levante Las Planas
1               19            Marina Martí Serna      Alhama CF El Pozo
2               11           Alba Redondo Ferrer             Levante UD
3                9         Sheila Guijarro Gómez          Villarreal CF
4               11  María Florencia Bonsegund...             Madrid CFF
..             ...                           ...                    ...
365             24           Paula Vizoso Prieto     Atlético de Madrid
366             13    Catalina Thomas Coll Lluch           FC Barcelona
367             13        Andreea María Paraluta             Levante UD
368             24           Olatz Santana Amado          Real Sociedad
369              1          Laia García Dalmases  FC Levante Las Planas

    POSITION  MATCHES PLAYED  GOALS  ASSISTS  YELLOW CARDS  RED CARDS  \
0        DEL              20      1        0             1          0
1        DEL              20      5        1             1          0
2        DEL              19     19        5             0          0
3        DEL              19      8        0             5          0
4        DEL              20      6        1             1          0
..       ...             ...    ...      ...           ...        ...
365      POR               0      0        0             0          0
366      POR               0      0        0             0          0
367      POR               0      0        0             0          0
368      POR               0      0        0             0          0
369      POR               0      0        0             0          0

     CYCLE RC  MINUTES PLAYED NATIONALITY  AGE  HEIGHT  WEIGHT
0           4            1689       Spain   22    1.54      44
1           4            1665       Spain   26    1.61      54
2           5            1639       Spain   26    1.69      63
3           5            1612       Spain   26    1.71      68
4           4            1578   Argentina   29    1.68      59
..        ...             ...         ...  ...     ...     ...
365         5               0       Spain   23    0.00       0
366         5               0       Spain   21    1.70      68
367         5               0     Romania   28    1.72      63
368         5               0       Spain   25    0.00       0
369         5               0       Spain   22    0.00       0

[370 rows x 15 columns]>